@using Microsoft.Extensions.Localization
@namespace BlueBlazor.Components
@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

<div @ref="_element" class="BLUE-actions @Class" role="toolbar" aria-label="@L["ToolbarWithButtonsAndButtonGroups"]">
    <div class="BLUE-actions-menu @MenuClass">
        @ChildContent
    </div>

    <div class="@CollapseClassValue" style="@CollapseStyle">
        <CreateId>
            <MenuItem PopoverTarget="@context" Square Label="@L["ToggleMenu"]" LabelHidden>
                <IconBefore>&#8942;</IconBefore>
            </MenuItem>

            <div id="@context" popover class="blue-anchored blue-anchored-fallback border rounded-4 shadow BLUE-actions-collapse-menu">
                @ChildContent
            </div>
        </CreateId>
    </div>
</div>