<ul class="list-unstyled d-flex flex-column">
    <li>
        <MenuItem Label="Home" Href="" Current="@IsActive("", true)">
            <IconBefore>
                <BiHouse />
            </IconBefore>
        </MenuItem>
    </li>

    <li class="mt-3">
        <strong class="ps-2">Components</strong>
        <ul class="list-unstyled">
            @if (componentPageUrls != null)
            {
                @foreach (var group in componentPageUrls)
                {
                    @foreach (var item in group.Value.Where(i => i.Key == group.Key))
                    {
                        <li>
                            <MenuItem Label="@item.Key" Href="@(item.Value + "/")" Current="@IsActive(item.Value + "/")">
                                <IconBefore>
                                    @(componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.Icon ?? defaultIcon)
                                </IconBefore>

                                <ChildContent>
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsNew == true)
                                    {
                                        <span class="badge bg-primary ms-1 mt-1">New</span>
                                    }
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsUpdate == true)
                                    {
                                        <span class="badge bg-info ms-1 mt-1">Update</span>
                                    }
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsExperimental == true)
                                    {
                                        <span class="badge bg-warning ms-1 mt-1">Experimental</span>
                                    }
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsDeprecated == true)
                                    {
                                        <span class="badge bg-danger ms-1 mt-1">Deprecated</span>
                                    }
                                </ChildContent>
                            </MenuItem>
                        </li>
                    }

                    @foreach (var item in group.Value.Where(i => i.Key != group.Key))
                    {
                        <li class="blue-collapse-indent border-start">
                            <MenuItem Label="@item.Key" Href="@(item.Value + "/")" Current="@IsActive(item.Value + "/")">
                                <IconBefore>
                                    @(componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.Icon ?? defaultIcon)
                                </IconBefore>

                                <ChildContent>
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsNew == true)
                                    {
                                        <span class="badge bg-primary ms-1 mt-1">New</span>
                                    }
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsUpdate == true)
                                    {
                                        <span class="badge bg-info ms-1 mt-1">Update</span>
                                    }
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsExperimental == true)
                                    {
                                        <span class="badge bg-warning ms-1 mt-1">Experimental</span>
                                    }
                                    @if (componentIcons.Where(x => x.Key == item.Key).FirstOrDefault().Value?.IsDeprecated == true)
                                    {
                                        <span class="badge bg-danger ms-1 mt-1">Deprecated</span>
                                    }
                                </ChildContent>
                            </MenuItem>
                        </li>
                    }
                }
            }
        </ul>
    </li>

    <li class="mt-3">
        <strong class="ps-2">Resources for AI agents</strong>
        <ul class="list-unstyled">
            <li>
                <MenuItem Href="llms.txt" Label="llms.txt">
                    <IconBefore>
                        <BiBodyText />
                    </IconBefore>
                </MenuItem>
            </li>
        </ul>
    </li>
</ul>

@code {
    Dictionary<string, ComponentIcon> componentIcons = new()
    {
        {"Action menu", new(@<BiMenuButtonWide />, @<BiMenuButtonWideFill />)},
        {"Alert section", new(@<BiExclamationDiamond />, @<BiExclamationDiamondFill />)},
        {"Button", new(@<BiPlayBtn />, @<BiPlayBtnFill />)},
        {"Button or a", new(@<BiLink45deg />)},
        {"Chevron", new(@<BiChevronRight />)},
        {"Heading", new(@<BiTypeH1 />)},
        {"Intro", new(@<BiPostcard />, @<BiPostcardFill />)},
        {"Layout", new(@<BiLayoutTextWindowReverse />)},
        {"Qr code gen", new(@<BiQrCode />)},
        {"Menu item", new(@<BiApp />)},
        {"Popover", new(@<BiMenuDown />)},
        {"Totp input", new(@<BiInputCursorText />)},
        {"Tab", new(@<BiSegmentedNav />)},
        {"Tabs", new(@<BiSegmentedNav />)},
        {"Simple layout", new(@<BiWindow />)},
        {"Inline edit", new(@<BiCursorText />, isUpdate: true)},
        {"Tui editor", new(@<BiPencilSquare />)},
        {"Modal dialog", new(@<BiWindowStack />)},
        {"Monaco editor", new(@<BiFileCode />)},
        {"Offcanvas dialog", new(@<BiWindowStack />)},
        {"Dialog opener", new(@<BiArrowUpRightSquare />)},
        {"Dialog provider", new(@<BiSquare />)},
        {"Actions", new(@<BiMenuApp />, isExperimental: true)},
        {"Collapse", new(@<BiCardHeading />)},
        {"Dropdown", new(@<BiMenuDown />, isDeprecated: true)},
        {"Text input", new(@<BiInputCursor />)},
        {"Tooltip", new(@<BiChatSquareText />)},
        {"Create id", new(@<BiBracesAsterisk />)},
        {"Field groups", new(@<BiListOl />)},
        {"Field group", new(@<BiCardHeading />)},
        {"Odometer", new(@<Bi9Square />)},
        {"Combobox", new(@<BiMenuButtonWideFill />)},
        {"Combobox option", new(@<BiMenuButtonWideFill />)},
        {"Combobox option group", new(@<BiMenuButtonWideFill />)}
    };
    RenderFragment defaultIcon = @<BiFileCode />;

    class ComponentIcon
    {
        public RenderFragment Icon { get; set; } = @<BiFileCode />;
        public RenderFragment? IconForActive { get; set; }
        public bool IsNew { get; set; } = false;
        public bool IsUpdate { get; set; } = false;
        public bool IsExperimental { get; set; } = false;
        public bool IsDeprecated { get; set; } = false;

        public ComponentIcon(RenderFragment? icon = null, RenderFragment? iconForActive = null,
            bool isNew = false, bool isUpdate = false, bool isExperimental = false, bool isDeprecated = false)
        {
            if (icon != null) Icon = icon;
            IconForActive = iconForActive;
            IsNew = isNew;
            IsUpdate = isUpdate;
            IsExperimental = isExperimental;
            IsDeprecated = isDeprecated;
        }
    }
}