@namespace BlueBlazor.Components

<button type="button" popovertarget="@_id" id="@HeaderId" class="blue-anchor btn @_headerClass"
    style="--blue-anchor-name: --anchor-@_id; @HeaderStyle">
    @if (Icon != null)
    {
        <span class="blue-menu-item-icon @IconClass @(IconForActive != null ? "hasIconForActive" : "")" aria-hidden="true">
            @Icon
        </span>
    }

    @if (IconForActive != null && IsActive)
    {
        <span class="blue-menu-item-icon iconForActive @IconClass" aria-hidden="true">
            @IconForActive
        </span>
    }

    @if (Label != null)
    {
        <span class="blue-menu-item-label text-truncate @LabelClass">
            @Label
        </span>
    }

    @AfterLabelContent
</button>
<div @ref="_element"
    class="blue-anchored blue-menu-item-dropdown @(Fallback ? "blue-anchored-fallback" : "") text-body blue-anchored-@(End ? "end" : "start") @DropdownClass"
    id="@_id" popover
    style="--blue-menu-item-dropdown-bg: var(--bs-body-bg); --blue-anchor-name: --anchor-@_id; @DropdownStyle">
    @ChildContent
</div>