@using Microsoft.Extensions.Localization
@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

<div @ref="_element" class="BLUE-actions @Class" role="toolbar" aria-label="Toolbar with button groups">
    <div class="BLUE-actions-menu @MenuClass">
        @ChildContent
    </div>

    <div class="BLUE-actions-collapse" style="--blue-anchor-name: --action-@_id">
        <button type="button" popovertarget="@_id" class="blue-collapse-header blue-menu-item btn px-3">
            <span class="blue-menu-item-icon" aria-hidden="true">&#8942;</span>
            <span class="visually-hidden">@L["ToggleMenu"]</span>
        </button>

        <div id="@_id" popover
            class="BLUE-actions-collapse-menu blue-anchored blue-anchored-end blue-anchored-fallback blue-menu-item-dropdown text-body @CollapseMenuClass"
            style="--blue-menu-item-dropdown-bg: var(--bs-body-bg)">
            @ChildContent
        </div>
    </div>
</div>