@using Microsoft.Extensions.Localization
@namespace BlueBlazor.Components
@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

<ButtonOrA @attributes="AdditionalAttributes" Disabled="@(Busy || _busy || Disabled)" ButtonType="@ButtonType"
    OnClick="@HandleClick" Href="@Href" Target="@Target" Class="@_className" aria-label="@(LabelHidden ? Label : null)">
    @if (Busy || _busy)
    {
        <span class="spinner-border spinner-border-sm bi me-1" aria-hidden="true"></span>

        <span role="status">@L["Loading"]…</span>
    }
    else if (_success)
    {
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-check-lg me-1"
            aria-hidden="true" viewBox="0 0 16 16">
            <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
        </svg>

        <span role="status">@L["Successful"]</span>
    }
    else
    {
        @if (IconBefore != null)
        {
            <span class="blue-btn-icon-wrapper" aria-hidden="true">
                @IconBefore
            </span>
        }
        @if (!string.IsNullOrWhiteSpace(Label) && !LabelHidden)
        {
            @L[Label]
        }
        @ChildContent
        @if (IconAfter != null)
        {
            <span class="blue-btn-icon-wrapper" aria-hidden="true">
                @IconAfter
            </span>
        }
    }
</ButtonOrA>