<div class="blue-header-title d-inline-flex gap-2 fw-medium align-items-center @(!NoSpacing ? "px-3 py-2" : "") @Class @(Sidebar ? "sidebar" : "")">
    @if (Logo != null)
    {
        <a href="@Href">
            <img src="@Logo" alt="@LogoAlt" class="blue-header-title-image" />
        </a>
    }

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            @if (!string.IsNullOrEmpty(AppTitle))
            {
                <li class="breadcrumb-item">
                    <a href="@Href">@AppTitle</a>
                </li>
            }

            @if (Breadcrumb != null)
            {
                @foreach (var item in Breadcrumb)
                {
                    <li class="breadcrumb-item @((item == Breadcrumb.LastOrDefault() ? "active" : ""))"
                        aria-current="@((item == Breadcrumb.LastOrDefault() ? "page" : ""))">
                        @if (item.Href != null)
                        {
                            <a href="@item.Href" class="@item.CssClass" target="@item.Target">
                                @item.Text
                                @item.Content
                            </a>
                        }
                        else
                        {
                            @item.Text
                            @item.Content
                        }
                    </li>
                }
            }
        </ol>
    </nav>

    @ChildContent
</div>