@using Microsoft.AspNetCore.Components.RenderTree
@using Microsoft.AspNetCore.Components.Rendering

<div class="blue-header-title d-inline-flex gap-2 fw-medium align-items-center px-3 py-2 @Class @(Sidebar ? "sidebar" : "")">
    @if (Logo != null)
    {
        <a href="@Href">
            <img src="@Logo" alt="@LogoAlt" class="blue-header-title-image" />
        </a>
    }

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            @if (!string.IsNullOrEmpty(AppTitle))
            {
                <li class="breadcrumb-item">
                    <a href="@Href">@AppTitle</a>
                </li>
            }

            @if (Breadcrumb != null)
            {
                @foreach (var item in Breadcrumb)
                {
                    <li class="breadcrumb-item @((item == Breadcrumb.LastOrDefault() ? "active" : ""))"
                        aria-current="@((item == Breadcrumb.LastOrDefault() ? "page" : ""))">
                        @if (item.Href != null)
                        {
                            <a href="@item.Href">
                                @item.Text
                                @item.Content
                            </a>
                        }
                        else
                        {
                            @item.Text
                            @item.Content
                        }
                    </li>
                }
            }
        </ol>
    </nav>

    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Logo { get; set; }

    [Parameter]
    public string LogoAlt { get; set; } = "Logo";

    [Parameter]
    public bool KeepAppTitle { get; set; } = false;

    [Parameter]
    public string? AppTitle { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public bool Sidebar { get; set; } = false;

    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    public List<BreadcrumbItem>? Breadcrumb { get; set; }

    public class BreadcrumbItem
    {
        public string? Href { get; set; }
        public string? Text { get; set; }
        public RenderFragment? Content { get; set; }
    }
}
