@using BlueBlazor.Components.DialogBaseParts
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

@inherits DialogBase

<div style="display: contents" @onclick="Open">
    @ToggleContent
</div>

<dialog class="blue-modal modal" @ref="Element" id="@Id" aria-labelledby="@(Id + "-label")">
    <div class="@_dialogClass" style="transition: max-width .2s">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@(Id + "-label")">@TitleText @TitleContent</h1>
                <form method="dialog" style="display: contents">
                    <button type="submit" class="btn-close" aria-label="@L["Close"]"></button>
                </form>
            </div>
            <div class="@(new CssBuilder("modal-body").AddClass(BodyClass))">
                @if (Render)
                {
                    @BodyContent

                    <!-- Compatibility with DevExpress Popups -->
                    <dxbl-popup-root class="position-fixed top-0 start-0 z-1"></dxbl-popup-root>
                }
            </div>

            @if (FooterContent != null)
            {
                <div class="modal-footer">
                    @if (Render)
                    {
                        @FooterContent
                    }
                </div>
            }
        </div>
    </div>
    <form method="dialog" class="blue-modal-backdrop">
        <button>@L["Close"]</button>
    </form>
</dialog>