@using Microsoft.Extensions.Localization

@inherits BlueBlazor.Components.DialogBaseParts.NewDialogBase

@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

<div class="@_offcanvasClass">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title fs-5" id="@(Id + "-label")">@TitleText @TitleContent</h1>
        <form method="dialog" style="display: contents">
            <button type="submit" class="btn-close" aria-label="@L["Close"]"></button>
        </form>
    </div>
    <div class="@(new CssBuilder("offcanvas-body").AddClass(BodyClass))">
        @if (Render)
        {
            @BodyContent

            <!-- Compatibility with DevExpress Popups -->
            <dxbl-popup-root class="position-fixed top-0 start-0 z-1"></dxbl-popup-root>
        }
    </div>
</div>