@using Microsoft.Extensions.Localization

@if (Floating)
{
    <div class="form-floating">
        <input @attributes="AdditionalAttributes" type="@Type" class="@_inputClass"
               id="@Id" placeholder="@_placeholder" @bind="@CurrentValue"
               @bind:event="@GetBindEvent()" readonly="@ReadOnly" />
        <label for="@Id" class="@_labelClass">
            @if (LabelHidden)
            {
                <span class="visually-hidden">@Label</span>
            }
            else
            {
                @Label
            }
            @AfterLabelContent
        </label>
    </div>
}
else
{
    <label for="@Id" class="@_labelClass">
        @if (LabelHidden)
        {
            <span class="visually-hidden">@Label</span>
        }
        else
        {
            @Label
        }
        @AfterLabelContent
    </label>

    <input @attributes="AdditionalAttributes" type="@Type" class="@_inputClass"
           id="@Id" placeholder="@_placeholder" @bind="@CurrentValue"
           @bind:event="@GetBindEvent()" readonly="@ReadOnly" />
}