@namespace BlueBlazor.Components
@inherits BlueComponentBase

<div class="@(new CssBuilder("blue-intro").AddClass(Class).Build())" style="@Style" @attributes="AdditionalAttributes">
    <div class="@(new CssBuilder("blue-intro-container mx-1").AddClass("skip-init-animation", Shake).Build())">
        <div class="@(new CssBuilder("bg-body rounded-3 shadow-lg px-4 py-5").AddClass("shake", Shake).Build())">
            <div class="text-center">
                @if (Logo != null)
                {
                    <img class="blue-intro-image" style="max-width: @LogoMaxWidth;" src="@Logo" alt="@LogoAlt" />
                }
                @LogoContent?.Invoke(this)
                <Heading Class="h2 mt-4 mb-3">@Title</Heading>
            </div>

            @ChildContent
        </div>
    </div>
</div>