@using Microsoft.Extensions.Localization
@namespace BlueBlazor.Components
@inherits BlueComponentBase
@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

<PageScript Src="./_content/BlueBlazor/Components/Layout/Layout.razor.js"></PageScript>

<div id="blueBlazorLayout" class="@(new CssBuilder("blue-layout").AddClass(Class).Build())" style="@Style" @attributes="AdditionalAttributes">
    <header class="blue-layout-header">
        <button type="button"
                class="btn blue-menu-item blue-btn-square d-flex d-lg-none"
                command="show-modal"
                commandfor="blueBlazorLayoutDrawer"
                aria-label="@(L["ToggleMenu"])">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-layout-sidebar-inset"
                 viewBox="0 0 16 16"
                 aria-hidden="true">
                <path d="M14 2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z" />
                <path d="M3 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
            </svg>
        </button>

        <button type="button"
                class="btn blue-menu-item blue-btn-square d-none d-lg-flex"
                data-blue-toggle="layout-side"
                aria-controls="blueBlazorLayoutSide"
                aria-expanded="true"
                aria-label="@(L["ToggleSidebar"])">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-layout-sidebar"
                 viewBox="0 0 16 16"
                 aria-hidden="true">
                <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5-1v12h9a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM4 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h2z" />
            </svg>
        </button>

        @HeaderContent
    </header>

    <div id="blueBlazorLayoutSide" class="blue-layout-side">
        <dialog class="blue-lg-modal blue-modal modal"
                id="blueBlazorLayoutDrawer"
                aria-describedby="blueBlazorLayoutDrawerLabel">
            <div id="layoutDrawerOffcanvas" class="offcanvas offcanvas-start">
                <div class="offcanvas-header">
                    <h1 class="h5 offcanvas-title" id="blueBlazorLayoutDrawerLabel">
                        @if (DrawerTitle == null && DrawerTitleContent == null)
                        {
                            @L["Menu"]
                        }
                        else
                        {
                            @DrawerTitle@DrawerTitleContent
                        }
                    </h1>
                    <form method="dialog" style="display: contents;">
                        <button type="submit" class="btn-close" aria-label="@(L["Close"])"></button>
                    </form>
                </div>
                <div class="offcanvas-body">
                    <div class="blue-layout-side-body">
                        @SideContent
                    </div>
                </div>
            </div>
            <form method="dialog" class="blue-modal-backdrop"><button>@L["Close"]</button></form>
        </dialog>
    </div>

    <main class="blue-layout-main">
        <div class="@(new CssBuilder("blue-layout-body").AddClass("border-0", NoPageBorder).Build())">
            @PageContent
        </div>
    </main>
</div>