@namespace BlueBlazor.Components

<CascadingValue Value="@(this)" IsFixed="true">
    @ChildContent
</CascadingValue>

@if (_tabs?.Any() ?? false)
{
    <ul role="tablist" class="nav nav-@(Underline ? "underline" : "tabs") @Class" style="@Style">
        @foreach (var t in _tabs)
        {
            <li class="@(new CssBuilder("nav-item").AddClass(t.ItemClass).Build())" role="presentation">
                <button @ref="@t.Element" class="@(new CssBuilder("nav-link").AddClass("active", _activeTab == t).AddClass(t.Class).Build())" id="@t.TabId"
                        data-bs-toggle="tab" data-bs-target="#@t.TabPanelId" type="button" role="tab" aria-controls="@t.TabPanelId"
                        aria-selected="@(_activeTab == t)">
                    @t.Label
                    @t.LabelContent
                </button>
            </li>
        }
    </ul>

    <div class="tab-content @ContentClass">
        @foreach (var t in _tabs)
        {
            <div class="@(new CssBuilder("tab-pane fade").AddClass("show active", _activeTab == t).AddClass(t.ContentClass).Build())"
                 id="@t.TabPanelId" role="tabpanel" aria-labelledby="@t.TabId" tabindex="0">
                @t.ChildContent
            </div>
        }
    </div>
}