@using Microsoft.Extensions.Localization
@namespace BlueBlazor.Components

@inherits BlueBlazor.Internals.DialogBaseParts.DialogBase

@inject IStringLocalizer<BlueBlazor.Resources.Phrases> L

<div class="@_offcanvasClass">
    <div class="@(new CssBuilder("offcanvas-header").AddClass(HeaderClass).Build())">
        <h1 class="offcanvas-title fs-5" id="@(Id + "-label")">@TitleText @TitleContent</h1>
        <form method="dialog" style="display: contents">
            <button type="submit" class="btn-close" aria-label="@L["Close"]"></button>
        </form>
    </div>
    <div class="@(new CssBuilder("offcanvas-body").AddClass(BodyClass))">
        @BodyContent

        @if (DevExpressSupport && IsLastDialog)
        {
            <!-- Compatibility with DevExpress Popups -->
            <dxbl-popup-root class="position-fixed z-1 start-0 top-0"></dxbl-popup-root>
        }
    </div>
</div>