@namespace BlueBlazor.Components
@inherits BlueComponentBase

<div class="@ClassValue" style="@Style" @attributes="AdditionalAttributes">
    @if (Logo != null)
    {
        <a href="@Href">
            <img src="@Logo" alt="@LogoAlt" class="blue-header-title-image" />
        </a>
    }
    @LogoContent?.Invoke(this)

    @if (!string.IsNullOrEmpty(AppTitle))
    {
        <a href="@Href">@AppTitle</a>
    }

    @if (Breadcrumb != null)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                @foreach (var item in Breadcrumb)
                {
                    <li class="breadcrumb-item @((item == Breadcrumb.LastOrDefault() ? "active" : ""))"
                        aria-current="@((item == Breadcrumb.LastOrDefault() ? "page" : ""))">
                        @if (item.Href != null)
                        {
                            <a href="@item.Href" class="@item.CssClass" target="@item.Target">
                                @item.Text
                                @item.Content
                            </a>
                        }
                        else
                        {
                            @item.Text
                            @item.Content
                        }
                    </li>
                }
            </ol>
        </nav>
    }

    @ChildContent
</div>