@namespace BlueBlazor.Components
@using Microsoft.Extensions.Localization

@if (Floating)
{
    <div class="form-floating">
        @if (Textarea)
        {
            <textarea @attributes="AdditionalAttributes" class="@InputClassValue" style="@InputStyle" id="@Id" placeholder="@_placeholder"
                      @bind="@CurrentValue" @bind:event="@GetBindEvent()" readonly="@ReadOnly" aria-label="@AriaLabel"></textarea>
        }
        else
        {
            <input @attributes="AdditionalAttributes" type="@Type" class="@InputClassValue" style="@InputStyle" id="@Id" placeholder="@_placeholder"
                   @bind="@CurrentValue" @bind:event="@GetBindEvent()" readonly="@ReadOnly" aria-label="@AriaLabel" />
        }
        @if (!LabelHidden)
        {
            <label for="@Id" class="@LabelClassValue" style="@LabelStyle">
                @Label
                @AfterLabelContent
            </label>
        }
    </div>
}
else
{
    @if (!LabelHidden)
    {
        <label for="@Id" class="@LabelClassValue" style="@LabelStyle">
            @Label
            @AfterLabelContent
        </label>
    }

    @if (Textarea)
    {
        <textarea @attributes="AdditionalAttributes" class="@InputClassValue" style="@InputStyle" id="@Id" placeholder="@_placeholder"
                  @bind="@CurrentValue" @bind:event="@GetBindEvent()" readonly="@ReadOnly" aria-label="@AriaLabel"></textarea>
    }
    else
    {
        <input @attributes="AdditionalAttributes" type="@Type" class="@InputClassValue" style="@InputStyle" id="@Id" placeholder="@_placeholder"
               @bind="@CurrentValue" @bind:event="@GetBindEvent()" readonly="@ReadOnly" aria-label="@AriaLabel" />
    }
}