@namespace BlueBlazor.Components
@using Microsoft.Extensions.Localization

@if (Floating)
{
    <div class="form-floating">
        <input @attributes="AdditionalAttributes" type="@Type" class="@_inputClass" id="@Id" placeholder="@_placeholder"
               @bind="@CurrentValue" @bind:event="@GetBindEvent()" readonly="@ReadOnly" aria-label="@AriaLabel" />
        @if (!LabelHidden)
        {
            <label for="@Id" class="@_labelClass">
                @Label
                @AfterLabelContent
            </label>
        }
    </div>
}
else
{
    @if (!LabelHidden)
    {
        <label for="@Id" class="@_labelClass">
            @Label
            @AfterLabelContent
        </label>
    }

    <input @attributes="AdditionalAttributes" type="@Type" class="@_inputClass" id="@Id" placeholder="@_placeholder"
           @bind="@CurrentValue" @bind:event="@GetBindEvent()" readonly="@ReadOnly" aria-label="@AriaLabel" />
}